# --- CONFIGURACIÓN DEL SERVIDOR ---
# Define en qué puerto escuchará Express (3000 es el estándar de desarrollo)
PORT=3000

# --- CONFIGURACIÓN DE MYSQL ---
# Dirección del servidor (localhost si es tu propia PC)
DB_HOST=
# Tu usuario de MySQL (comúnmente es 'root')
DB_USER=root
# Tu contraseña de MySQL
DB_PASS=
# El nombre de la base de datos que creaste en el DDL
DB_NAME=db_geisler_01
# Puerto de la db
DB_PORT=3306

# --- CONFIGURACIÓN DE MONGODB ---
# Cadena de conexión para MongoDB (Compass suele darte esta URL)
# 'v2' es el nombre que tomará la base de datos en Mongo
MONGO_URI=mongodb://localhost:27017/nombre